<?php
// @codingStandardsIgnoreFile
?>
<?php
/**
 * @see \Baldwin\MedipimConnector\Block\Adminhtml\System\Config\FetchMedipimAttributes
 */
?>
<script>
    //<![CDATA[
    require(['prototype'], function(){
        function startAttributeImport() {
            var validationMessage = $('import_validation_result');

            new Ajax.Request('<?php /* @escapeNotVerified */ echo $block->getAjaxUrl() ?>', {
                onSuccess: function(response) {
                    var result = '<?php /* @escapeNotVerified */ echo __('Error when fetching Medipim Attributes.') ?>';
                    try {
                        if (response.responseText.isJSON()) {
                            response = response.responseText.evalJSON();
                            result = response.message;
                        }
                        if (response.valid == 1) {
                            validationMessage.removeClassName('hidden').addClassName('success')
                        } else {
                            validationMessage.removeClassName('hidden').addClassName('error')
                        }
                    } catch (e) {
                        validationMessage.removeClassName('hidden').addClassName('error')
                    }
                    validationMessage.update(result);
                }
            });
        }

        window.startAttributeImport = startAttributeImport;
    });
    //]]>
</script>
<div class="actions">
    <button onclick="javascript:startAttributeImport(); return false;" type="button" id="<?php echo $block->getHtmlId() ?>">
        <span><?php echo $block->escapeHtml($block->getButtonLabel()) ?></span>
    </button>
    <div id="import_validation_result" class="message-validation hidden"></div>
</div>
